
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}


body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 220px 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header header'
    'nav main'
    'fot fot';

  font-family: 'Inter', sans-serif;
  background: #0f172a; 
  color: #e5e7eb;
}


header {
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1e293b;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 15px;
  font-family: 'Poppins', sans-serif;
}


nav { 
  grid-area: nav;
  background: #111827;
  padding: 20px;
  font-family: 'Inter', sans-serif;
  display: flex;
  
}

nav a {
  color: white  ;
}

nav ul li {
  list-style-type: none;
  border-left: 2px solid rgb(0, 7, 134);
  padding: 10px;
  color: rgb(255, 255, 255);
}


nav ul :hover {
  background-color: #183068;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.4s;
}


main {
  grid-area: main;
  background: #dedede;
  color: #111827;
  padding: 25px;
  font-family: 'Roboto', sans-serif;  
  overflow-y: scroll; 
}


footer {
  grid-area: fot;
  background: #020617;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 20px;
  font-size: 14px;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1e1e2f;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #6c63ff, #4b47c9);
    border-radius: 10px;
    border: 2px solid #1e1e2f;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #8a84ff, #5a54e0);
}

::-webkit-scrollbar-thumb:active {
    background: #3f3ab3;
}